{% extends "Outline.html" %}
{% block title %}Tetris{% endblock %}
{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='Tetris.js') }}"></script>
<script type="text/javascript">
  console.log("loaded");
  window.onload = start;
  window.addEventListener('resize', paint_board);

</script>
<style type="text/css">
  body {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  div {
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <div>Press p to play! Use the arrow keys to move.</div>
  <canvas id="tetris"></canvas>
</div>
{% endblock %}

